body {
	background-color: pink; 
}

p {
	font-size: 16px;
}

.center {
	text-align: center;
}

div {
	width: 96%;
	background-color: pink;
	margin-top: 0 auto;
	padding-top: 100px;
	font-size: 2em;
	float: left;
	margin-right: 15px;
}

@media (min-width: 768px) {
	div {
	width: 48%;
	background-color: purple;
	margin-top: 1%;
	padding-top: 100px;
	font-size: 3em;
	float: 
}
}